{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ditter</title>
    <link href="{% static 'main.css' %}" rel="stylesheet" />
    <script src="{% static 'main.js' %}"></script>
  </head>
  <body>
    <div class="timeline">
      {% for dweet in dweets %}
      <div class="dweet">
        <div class="dweet-author">
          <div class="display-name">{{ dweet.author_display_name }}</div>
          <div class="username">@{{ dweet.author_username }}</div>
        </div>
        <div class="dweet-content">{{ dweet.content }}</div>
        <div class="dweet-widgets">
          <div class="like-btn">
            <button alt="Like this Dweet">
              <img src="{% static 'icons/heart.svg' %}" />
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
