:root {
  --primary-color: #153c66;
  --primary-text-color: white;

  --secondary-color: #217dab;
  --secondary-text-color: lightgray;

  --error-color: rgb(200, 0, 0);
  --error-text-color: black;

  --active-color: #dfaf01;
  --active-text-color: black;

  --modal-front-color: var(--secondary-color);
  --modal-back-color: var(--primary-color);
  --logo-text-color: var(--active-color);
}
